form {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.input {
    width: 200px;
    margin-right: 10px;
    color: white;
}

.button {
    width: 100px;
}

.json {
    color: white;
}
