/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgb(165, 193, 182);
    border: 10px;
}